*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100vh;
    background-image: url('../assets/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    position: relative;
}

body{
    font-family: "Poppins", sans-serif;
    background: #080808;
    color: #fff;
}

/* Start navbar  */

.navbar{
    padding: 20px 30px;
}

.menuitems{
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;

    position: relative;

    transition: 0.7s linear;
}

.menuitems:hover ,.menuitems.active{
    color: #ed4c7f;
}

.menuitems::after{
    content: '';
    width: 0%;
    height: 5px;
    background-color: #ff004f;

    position: absolute;
    left: 0%;
    bottom: 0%;

    transition: .5s ease-out;
}

.menuitems:hover::after ,.menuitems.active::after{
    width: 100%;
}


.navbuttons:focus{
    box-shadow: none;
}

.lines1,.lines2,.lines3{
	width: 25px;
	height: 3px;
	margin: 6px;

	transition: all 0.5s;
}

.crossxs .lines1{
	transform: rotate(-45deg) translate(-6px,6px);
}

.crossxs .lines3{
	transform: rotate(45deg) translate(-6px,-6px);
}

.crossxs .lines2{
	opacity: 0;
}

/* End Navbar  */

/* Start Banner */
.banners{
    /* width: 80%; */
    height: 70vh;

    display: flex;
    align-items: center;
    padding: 0px 0px 0px 30px;
  
}

.banners-title{
    font-size: 40px;

    animation-name: bananni;
    animation-duration: 2s;
}

.banners-text{
    font-size: 60px;
    font-weight: 600;

    animation-name: bananni;
    animation-duration: 2s;
    animation-delay: 1s;

    animation-fill-mode: backwards;
}

.banners-text span{
    color: #ff004f;
}

@keyframes bananni{
	0%{
		opacity: 0;
		transform: translateX(-100px);
	}

	100%{
		transform: translateX(0px);
		opacity: 1;
	}
}
/* End Banner */

/* Start About Section */

#about{
    margin: 100px 0;
}

.myimgs{
    width: 30%;
    border-radius: 10px;
}

.myimgs img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.abouttexts{
    padding: 20px 50px;
}

.abouttexts h1{
    font-size: 50px;
    font-weight: 600;
}

.abouttexts p{
    color: #f4f4f4bf; 
}

.abouttabs{
    display: flex;
    padding: 0;
    margin: 0;
}

.abouttabs li{
    list-style: none;
    /* padding: 10px 20px; */
}

.abouttabs li a{
    color: #f4f4f4bf; 
    display: block;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
}

.tab-container{
    padding: 20px;
}

.tab-container .tab-page{
    display: none;
}

.tab-container .tab-page h3{
    color: #f6407a;
    font-size: 13px;
}

.tab-container .tab-page p{
    font-size: 17px;
}

/* End About Section */

/* Start My Work Section */
#mywork .title{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 40px;
}

.work-items{
    border-radius: 15px;

    position: relative;
    overflow: hidden;

    transition: all .5s;
}

.work-items img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.work-content{
    background: linear-gradient(rgba(0, 0, 0, 0.7),#f70350);
    border-radius: 15px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0;
    top: 0; 
    bottom: 0;

    transform: translateY(100%);

    transition: all .5s ;
}

.work-content-item{
    width: 70%;
}

.work-content-item h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.work-content-item p{
    margin-bottom: 20px;
}

.work-button{
    width: 60px;
    height: 60px;
    border: none;
    padding: 15px;
    border-radius: 50%;

}

.work-button i{
    color: #f70350;
}

.work-items:hover .work-content{
    transform: translateY(0);
}
/* End My Work Section */